/* SELECTOR UNIVERSAL */
* {
    margin: 0;
    padding: 0; 
    font-family: Helvetica;
}
/* BODY */
body {
    background: linear-gradient(160deg, #5000ca, white);
    background-size: cover;
    background-repeat: no-repeat;
}
/* NAVEGACION */
header {
    margin-top: 55px;
    margin-bottom: 25px;
}
nav {
    overflow: hidden;
}
ul {
    display: flex;
    list-style-type: none;
    width: 650px;
    justify-content: space-evenly;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}
.li-pc-1, .li-pc-2, .li-pc-3, .li-pc-4 {
    color: white;
    font-size: 18px;
}
/* MAIN */
main {
    display: flex;
    margin-top: 4em;
}
.contenedor-cuadrado-1 {
    width: 1200px;
    height: 370px;
    background-color: rgb(46, 46, 46);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 60px 5px rgb(71, 71, 71);
}
main h1 {
    color: white;
    font-size: 37px;
}
.main-div-1 {
    width: 50%;
    text-align: center;
    margin: auto 0;
}
main img {
    width: 400px;
}
.main-div-2 {
    width: 50%;
    text-align: center;
    margin: auto 0;
}
.span-main-1 {
    color: green;
}
.span-main-2 {
    color: white;
}
.span-main-3 {
    color: red;
}
/* PRIMER SECTION */
.section-1-div-1 {
    text-align: center;
}
.section-1-div-1 i {
    margin-top: 10px;
    color:rgb(46, 46, 46);
    font-size: 7em;
}
.section-1-div-2 h2 {
    text-align: center;
    font-size: 33px;
    color: rgb(39, 39, 39);
}
.hijo-circulo-1 {
    width: 50%;
    display: flex;
    justify-content: center;
}
.section-circulo-1 {
    width: 340px;
    height: 320px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: indigo;
    box-shadow: 0 0 10px 0px black;
}
.section-circulo-1 p {
    padding-top: 5.2em;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.section-circulo-1-2 {
    width: 50%;
    text-align: center;
}
.section-circulo-1-2 img {
    width: 500px;
}
.contenedor-circulo-1 {
    display: flex;
    margin: 50px auto;
    width: 1300px;
}
/* SUB SECTION FOOTER */
.section-sub-footer {
    width: auto;
}
.contenedor-sub-footer {
    text-align: center;
}
.section-sub-footer input {
    width: 1670px;
    height: 30px;
    font-size: 18px;
    background-color: blueviolet;
    color: white;
    border: none;
}


/* FORM-CONTACTO */
.main-form-1 {
    width: 900px;
    height: 550px;
    background-color: rgb(53, 53, 53);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 60px 5px rgb(71, 71, 71);
    color: white;
}
.main-form-1 h3 {
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 30px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.form-rectangulo {
    width: 880px;
    height: 2px;
    background-color: floralwhite;
    border-radius: 90px;
    margin: 8px auto;
}
.contenedor-form {
    display: flex;
}
label {
    display: block;
    font-size: 20px;
}
.hijo-form {
    display: block;
}
.svg-form {
    margin: auto;
}
.input-1 {
    margin-top: 50px;
    margin-left: 90px;
}
.input-1 input {
    width: 290px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid black;
}
.input-2 {
    margin-top: 20px;
    margin-left: 90px;
}
.input-2 input {
    width: 290px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid black;
}
.input-3 {
    margin-top: 20px;
    margin-left: 90px;
}
.input-3 input {
    width: 290px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid black;
}
.input-4 {
    margin-top: 20px;
    margin-left: 90px;
}
.input-form-2 {
    display: flex;
    margin-top: 10px;
}
.input-form-2 label {
    font-size: 18px;
}
.input-form-2 input {
    margin-right: 15px;
    margin-left: 5px;
}
::placeholder {
    font-size: 16px;
}
.input-5 input {
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 30px 5px black;
    margin-top: 40px;
    margin-left: 50px;
    background-color: indigo;
    color: white;
}



@media only screen and (max-width: 415px) {
    /* NAVEGACION */
    ul {
        width: 375px;
        justify-content: space-evenly;
    }
    .li-pc-1, .li-pc-2, .li-pc-3, .li-pc-4 {
        font-size: 15px;
    }
    /* MAIN */
    main {
        margin-top: 3em;
    }
    .contenedor-cuadrado-1 {
        width: 350px;
        height: 280px;
        display: block;
    }
    .main-div-1 h1 {
        font-size: 23px;
    }
    .main-div-1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .main-div-2 img {
        width: 250px;
    }
    .main-div-2 {
        margin-left: 50px;
    }
    /* PRIMER SECTION */
    .section-1-div-1 i {
        font-size: 4em;
    }
    .section-circulo-1 {
        width: 400px;
        height: 180px;
    }
    .section-circulo-1 p {
        font-size: 11px;
        padding-top: 4em;
        margin-left: 30px;
        margin-right: 30px;
    }
    .contenedor-circulo-1 {
        width: 370px;
        display: block;
        margin-top: 30px;
    }
    .hijo-circulo-1 {
        margin: 0 auto;
    }
    .section-circulo-1-2 img {
        width: 250px;
    }
    .section-circulo-1-2 {
        width: 370px;
        text-align: center;
        margin-top: 20px;
    }
    /* SUB SECTION FOOTER */
    .contenedor-sub-footer input {
        width: 374px;
    }

    /* FORM */
    .main-form-1 {
        width: 300px;
        height: 550px;
    }
    .main-form-1 h3 {
        font-size: 23px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .form-rectangulo {
        width: 270px;
    }
    .input-1, .input-2, .input-3, .input-4 {
        margin: 10px;
    }
    .input-1 {
        margin-top: 20px;
    }
    .input-1 input {
        width: 260px;
        font-size: 14px;
    }
    .input-2 input {
        width: 260px;
        font-size: 14px;
    }
    .input-3 input {
        width: 260px;
        font-size: 14px;
    }
    .input-4 {
        margin-top: 20px;
    }
    .input-4 label {
        font-size: 19px;
    }
    .input-form-2 label {
        font-size: 15px;
        margin-top: 10px;
    }
    .input-form-2 input {
        margin-top: 13px;
    }
    .input-5 input {
        margin-top: 40px;
        margin-left: 40px;
    }
    .svg-form {
        display: none;
    }




    label {
        font-size: 17px;
        margin-left: 5px;
    }
    ::placeholder {
        font-size: 14px;
    }
}
